[submodule "test/sql-server-samples"]
    path = test/sql-server-samples
    url = https://github.com/microsoft/sql-server-samples.git
[submodule "tasks/PsSqlTestTasks"]
	path = tasks/PsSqlTestTasks
	url = https://github.com/abbgrade/PsSqlTestTasks.git
[submodule "test/sql-server-test-project"]
    path = test/sql-server-test-project
    url = https://github.com/abbgrade/sql-server-test-project.git
