on:
  push:
    branches: [ release/*, 'hotfix/*' ]
  workflow_dispatch:

jobs:
  pre-release:
    uses: abbgrade/PsBuildTasks/.github/workflows/pre-release-windows.yml@1.11.1
    with:
      module-name: PsDac
    secrets:
      ps-gallery-key: ${{ secrets.PS_GALLERY_KEY }}
